
<h1> Hai, @ViewBag.UserName this is the page from Action</h1>
<h2>can have any HTML content</h2>
<p>User Name : @ViewBag.UserName</p>
<p>Location : @ViewBag.Location</p>
<p>Contact : @ViewBag.Contact</p>

